/.idea/
/dist/
/node_modules/
/build/
/storefrontbackend.iml
/.env
/CODEOWNERS
/docker-compose.yml
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
